<!DOCTYPE html>
  <html>
    <head>
    <title>#BestSystem</title>
      <!--CSS-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--JAVASCRIPT -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </head>

    <body> 


  <!-- FOOTER -->
  <div class="parallax-container">
    <div class="parallax"><img src="icons/home_screen.jpg"></div>
  </div>

  <div class= "page-footer">
  <div class="section grey darken-2 ">
    <div class="row container">
      <h2 class="header">Contact Us</h2>
      <p>Call us: +639 26 735 4975</p>
      <p>Email: BestSystemSanaTo@yahoo.com</p>
      <p>Site: jan lang sa tabi tabi</p>
    </div>
    </div>
  </div>
  <!-- END-FOOTER -->

    </body>
  </html>